.card-group-container {
  margin: 5%;
}

.card {
  margin: 2%;
}

#project-btn {
  background-color: #ff6b00;
  color: #fff;
  border: 1px solid #8993a4;
  text-align: center;
  font-family: 'inter', sans-serif;
  font-weight: 700;
  font-size: 1em;
  margin-top: 110%;
  width: 100%;
  height: 2.5em;
}

#project-btn:hover {
  background-color: #fff5e1;
  color: #f55800;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 1em #ff6b00;
}

.card-content-container {
  margin-top: 50%;
}